@model IEnumerable<_3LTB.Models.Post>

@*<h1>@ViewBag.Title</h1>*@

    <div class="container p-3">
        <div class="row">
            <div class="col-sm-8">
                <p><h1>@ViewBag.Title</h1></p>
            </div>
            <div class="col-sm-2">
                <p><a href="#" class="btn btn-primary btn-block" role="button">My Transactions</a></p>
            </div>
            <div class="col-sm-2">
                <p><a asp-action="CreatePost" asp-controller="TradeBoard" class="btn btn-primary btn-block" role="button">Create Post</a></p>
            </div>
        </div>

        <form action="/">
            <div class="row">
                <div class="form-check-inline">
                    <label class="form-check-label" for="check1">
                        <input type="checkbox" class="form-check-input" id="check1" name="searchCriteria" value="All" checked>All
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="searchCriteria" value="Drop">Drop
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="check3">
                        <input type="checkbox" class="form-check-input" id="check3" name="searchCriteria" value="Trade">Trade
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="check4">
                        <input type="checkbox" class="form-check-input" id="check4" name="searchCriteria" value="Pickup">Pickup
                    </label>
                </div>
                @*<button type="submit" class="btn btn-primary">Search</button>*@
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="sel1">Add Criteria</label>
                    <select class="form-control" id="sel1" name="AddCriteria">
                        <option value="Date">Date</option>
                        <option value="RON" selected>RON</option>
                        <option value="Position">Position</option>
                        <option value="Purser">Purser</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <p></p>
                </div>
                <div class="col-sm-2">
                    <p><a href="#" class="btn btn-primary btn-block" role="button">Reset</a></p>
                </div>
                <div class="col-sm-2">
                    @*<p><a href="#" class="btn" role="button">Create Post</a></p>*@
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Trade</a></p>
            </div>
            <div class="col-sm-2">
                <p><a href="#" class="btn" role="button">Title</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Seq/Orig Dt</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Flight</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Pos</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Report</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Credit</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Lang</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Depart City</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Arrival City</a></p>
            </div>
            <div class="col-sm-1">
                <p><a href="#" class="btn" role="button">Flag</a></p>
            </div>
        </div>

        @foreach (var post in Model)
        {
            <div class="row">
                <div class="col-sm-1">
                    <p>@post.Trade</p>
                </div>
                <div class="col-sm-2">
                    <p>@post.Title</p>
                </div>
                <div class="col-sm-1">
                    @*<p>@post.FlightDate</p>*@
                    @*Had to use Html helper so that FlightDate displays according to format in Post.cs*@
                    <p>@Html.DisplayFor(modelPost => post.FlightDate)</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.Flight</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.Position</p>
                </div>
                <div class="col-sm-1">
                    <p>@Html.DisplayFor(modelPost => post.Report)</p>
                </div>
                <div class="col-sm-1">
                    <p>credit</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.Lang</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.DepartureCity</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.ArrivalCity</p>
                </div>
                <div class="col-sm-1">
                    <p>@post.RedFlag</p>
                </div>
            </div>
        }

    </div>
